 body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #669bbc;
      color: #333;
      line-height: 1.6;
    }

    #wrapper {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    header {
      background: #004c8c;
      color: #fff;
      padding: 20px 0;
      text-align: center;
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }

    nav ul li {
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s;
    }

    nav ul li:hover {
      color: #780000;
      transition: color 0.3s;
    }

    main {
      text-align: center;
    }

    main h1 {
      font-size: 3rem;
      color:#003049;
      margin-bottom: 20px;
    }

    main img {
      max-width: 500px;
      height: auto;
      margin: 20px 0;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    section {
      background: #004c8c;
      padding: 25px;
      margin: 20px auto;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 800px;
      text-align: left;
    }

    section h2 {
      color: #669BBC;
      margin-bottom: 10px;
    }

    section p{
        color:white;
    }

    footer {
      text-align: center;
      padding: 20px;
      margin-top: 40px;
      background: #004c8c;
      color: #fff;
      border-radius: 0 0 10px 10px;
    }