body { 
    background: #e6e1c6;
    background-image: url("../images/");
    background-repeat: repeat;
}
#wrapper { 
    background: #5e84a2;
    max-width:1200px;
    margin: auto;
    border: 3px solid #2e7186;
    border-radius: 10px;
    display:grid;
}
header{
    background-image: url("../images/");
    background-position: 0 313px;
    background-size: cover;
    padding: 30px;
}
header img{
    width:100px;
}
Header h1{
    display: inline;
    float: right;
    margin-right: 20px;
    color: #e6e1c6;
    font-size: 2em;
}
nav {
    background: #384856;
    border: 4px solid #2e7186;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    height: 60px;
}
nav a {
    font-size: 1.5em;
    color: #aecbbc;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
nav a:hover{
    background-color: #2e7186;
    text-shadow: 4px 4px 2px #384856;
}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content{
    grid-column:1/4;
    padding:30px;
}
.content img{
    float:left;
    margin-right: 30px;
    max-width: 200px;
}
footer form{
    background: #e6e1c6;
    padding: 10p 20px;
    border: 3px solid #384856;
    border-radius: 10px;
    grid-column: 2/3;
    grid-row:1/3;
    display:grid;
    grid-template-columns: .25fr 1fr;
    grid-row-gap: 7px;
    height:15px;
    overflow:hidden;
    transition: height 0.75s ease-out;
}
footer form:hover{
    height: 200px;
    transition: height .85s ease-in;
}
footer form h3{
    margin:0;
    grid-column: 1/3;
}
footer p{
    grid-column: 1/4;
    justify-self:center;
}
footer ul li a{
    text-decoration: none;
    color: #e6e1c6;
    font-size:1.25em;
}
section{
    border: 3px solid #384856;
    background: #e6e1c6;
    padding: 0 30px;
    margin: 20px 14px;
}
section img{
    width: 100%;
}
table{
    grid-column: 1/4;
    grid-row: 1/2;
}
footer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-image: url('../images/');
    background-position: 0 -42px;
}
@media(max-width:745px){
    header{
        padding:0;
        text-align:center;
    }
    header h1{
        font-size:2em;
        float:none;
    }
    header img{
        position:absolute;
        top:43px;
        left:22;
    }
    nav{
        display:block;
        height:unset;
    }
    nav a{
        width:100%;
        justify-content:center;
        padding:0;
        border-bottom: 3px solid #2e7186;
    }
    main{
        display:block;
    }
    table{
        width:100%;
    }
}